/* CSS */
 body {background-image: url("../images/paper.jpg");}
  
 header{
	text-align: center;
	color:white;
	background-color:#580C17;
	padding:65px;
	background-image: url("../images/abstract.jpg");
	text-shadow: 2px 2px 2px black;
	
}
  
.container {
    		margin-top: 40px;
    		margin-bottom: 40px;
    		margin-left: 10%;
    		margin-right: 10%;
    		background-color:#30D5C8;
    		width: auto;
    		height: auto;
			}
			
h1, h2, h3, h4 {
	color:white;
}

.foot{
	color:white;
	font-size: 30px;
}

.footer {
	text-align: center;
	color:white;
	background-image: url("../images/abstract.jpg");
	padding:75px;
}

ul li a {
    	color:black;
		}
		
button {
    background-color: #D95B5B;
    color: white;
    font-style: bold;
    line-height: 30px;
    font-size: 80%;
    box-shadow: 5px 5px 6px #333;
  }

  button:hover {
    background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(30,201,218,1) 32%, rgba(51,51,51,1) 84%);
    color: black;
    font-style: bold;
  }