nav {
 		font-family:"Helvetica", Ariel, sans-serif;
 		background-color: black;
 		border-radius: 10px;
 		}
 		
 	
 nav ul  {
 		display:flex;
 		flex-wrap:wrap;
 		justify-content:space-around;
 		list-style-type: none;
 		}
 		
 nav a  {
 		color: white;
 		background-color:#60B99A;
 		display: block;
 		padding: 5px 25px;
 		text-decoration: none;
 		border-radius: 5px;
 		margin: 10px;
 		width: 100px;
 		text-align: center;
 		}

 nav a:hover  {
 		color: white;
 		background-color:#4584B1;
 		display: block;
 		padding: 5px 25px;
 		text-decoration: none;
 		border-radius: 5px;
 		margin: 10px;
 		}

.grid-container {
    width: 100%;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: auto;
    grid-gap: 30px 30px;
}

.gridIMG {
    max-height: 350px;
    min-width: 375px;
    border: 2px solid black;
    margin: auto;

}

.grid-container>div {
    text-align: center;
}

html {
    min-height: 100%;
}

body {
    background:skyblue; 
}

h1,
h2,
h4,
.titleHeader {
    text-align: center;
}

.donateContainer {
    height: 180px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: auto 10px;
}

.donateFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribeContainer {
    height: 350px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: auto 10px;
}

.addToCartContainer {
    border: 2px solid black;
    text-align: center;
    background-color: #f7f7f7;
    margin: 10px auto;
}

.addToCartContainer table {
    margin-left: auto;
    margin-right: auto;
}

.addToCartFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addToCartFlex>div {
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.viewCart {
    margin: auto;
    text-align: center;
}

.viewCart input {
    border: 2px solid black;
    border-radius: 50px;
    padding: 3px;
    background-color: black;
}