@charset "utf-8";


@mixin header {
  text-align: center;
  color:black;
  }
$primaryColor:turquoise;

h1	{
	background-color: $primaryColor;
  @include header; 
}

body	{
	color:$primaryColor;	
}

p 	{
	border:thin solid black;	
}
h3 {
	 background-color: $primaryColor;
	 @include header ; 
	}
	
	
	
	